.movies-card-list {
  width: 89.0625%;
  margin: 0 auto 0 auto;
  background-color: #202020;
  align-items: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
}

.movies-card-list__button-more {
  width: 320px;
  height: 36px;
  align-items: center;
  align-self: center;
  margin: 0 auto 0 auto;
}


.movies-card-list__button-more {
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  grid-column: 1 / -1;
  width: 320px;
  height: 36px;
  margin: 30px auto 80px auto;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 710px) {
  
  .movies-card-list__button-more {
    width: 240px;
  }

}