.movie-card {
    width: 270px;
    height: 230px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
}

.movie-card__poster {
    width: 100%;
    height: 151px;
    object-fit: cover;
}

.movie-card__info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 25px;
}

.movie-card__title {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    align-self: center;
    margin: 0;
}

.movie-card__like-button {
    background-image: url('../../images/like-icon.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    overflow: visible;
    align-self: center;
    margin: 0;
}

.movie-card__like-button:hover {
    opacity: 0.5;
}

.movie-card__like-button_active {
    background-image: url('../../images/like-icon-active.svg');
}

.movie-card__like-button:hover {
    opacity: 0.5;
}

.movie-card__duration {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    color: #8B8B8B;
    margin: 0 auto 0 0;
    padding-top: 6px;
    border-top: 1px solid #424242;
    width: 100%;
}

@media (max-width: 768px) {
    .movie-card {
        width: 339px;
        height: 269px;
    }

    .movie-card__poster {
        height: 190px;
        max-width: 339px;
    }
}

@media (max-width: 710px) {
    .movie-card {
        height: 246px;
        width: 300px;
    }
    .movie-card__poster {
        height: 168px;
        max-width: 300px;
    }
    
}