.movies {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    background-color: #202020;
}

.movies__error {
    align-items: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.31px;
    text-align: center;
    color: #FF004C;
}