.profile {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;

}

.profile__form {
    margin: 74px auto 0 auto;
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin: 0 auto 106px auto;
}

.profile__input {
    width: 100%;
    height: 27px;
    box-sizing: border-box;
    color: #fff;
    background-color: #202020;
    border: none;
    outline: none;
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: right;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 17px;
}

.profile__input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile__input-container:first-of-type {
    border-bottom: 1px solid #424242;
}

.profile__input-label {
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
}

.profile__submit-button {
    background-color: transparent;
    border: none;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-top: 204px;

}

.profile__out-button {
    background-color: transparent;
    border: none;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #EE3465;
    cursor: pointer;
    margin-top: 16px;
}