.nav-tab-profile {
    width: 100px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 0 auto auto;
    justify-content: space-between;
    background-color: #202020;
    border-radius: 40px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.nav-tab-profile__link {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    align-self: center;
    margin-left: 11px;
}

.nav-tab-profile__icon {
    width: 26px;
    height: 26px;
    background-color: #313131;
    border-radius: 50px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tab-profile__icon img {
    width: 11px;
    height: 11px;
}

.nav-tab-profile__menu {
    width: 44px;
    height: 44px;
    border: none;
    background: none;
    background-image: url('../../images/menu-icon.svg');
  
}