.portfolio {
    background-color: #202020;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 125px;
}

.portfolio__title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #8B8B8B;
    width: 89.0625%;
    margin: 0 auto 30px auto;
}

.portfolio__link {
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFF;
    width: 89.0625%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.portfolio__link-img {
    width: 29px;
    height: 60px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .portfolio {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

@media (max-width: 710px) {
    .portfolio {
        padding-top: 70px;
        padding-bottom: 79px;
    }
    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
        width: 91.25%;
    }
    .portfolio__link {
        width: 91.25%;
        font-size: 18px;
        line-height: 28px;
    }
}