.portfolio {
    background-color: #202020;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 106px;
}

.portfolio__title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #8B8B8B;
    width: 89.0625%;
    margin: 0 auto 30px auto;
}

.portfolio__list {
    width: 89.0625%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.portfolio__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
    margin-top: 20px;
    padding-bottom: 19px;
}

.portfolio__item:last-child {
    border-bottom: none;
}

.portfolio__item a {
    display: inline-block;
    text-decoration: none;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #fff;
    min-width: min-content;
}

.portfolio__link-img {
    width: 18px;
    object-fit: contain;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .portfolio {
        padding-top: 90px;
        padding-bottom: 72px;
    }

    .portfolio__title {
        width: 86.9792%;
    }

    .portfolio__list {
        width: 86.9792%;
    }

    .portfolio__item a {
        font-size: 28px;
    }
}

@media (max-width: 710px) {
    .portfolio {
        padding-top: 70px;
        padding-bottom: 54px;
    }

    .portfolio__list {
        width: 91.25%;
    }

    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
        width: 91.25%;
        margin-bottom: 20px;
    }

    .portfolio__item a {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__link-img {
        width: 10px;
        object-fit: contain;
        margin-right: 5px;
    }

}