.promo {
  width: 100%;
  max-width: 1280px;
  max-height: 560px;
  background-color: #073042;
  display: flex;
  flex-direction: column;
}

.promo__title {
  max-width: 626px;
  max-height: 104px;
  margin: 50px auto auto 70px;
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #FFF;
}

.promo__logo {
  max-width: 722px;
  max-height: 244px;
  opacity: 70%;
  margin: 102px 70px 60px auto;
}