.promo {
  width: 100%;
  max-width: 1280px;
  max-height: 100%;
  background-color: #073042;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  max-width: 626px;
  max-height: 104px;
  margin: 50px auto auto 70px;
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #FFF;
}

.promo__logo {
  max-width: 722px;
  max-height: 244px;
  opacity: 70%;
  margin: 102px 70px 60px auto;
}

@media (max-width: 768px) {

  .promo__title {
    max-width: 680px;
    margin: 300px auto auto auto;
    text-align: center;
  }

  .promo__logo {
    max-width: 680px;
    max-height: 230px;
    margin: 140px auto 70px auto;
  }
}

@media (max-width: 710px) {
  .promo__logo {
    max-width: 100%;
    max-height: 230px;

  }

  .promo__title {
    max-width: 300px;
    max-height: 117px;
    margin: 183px auto auto auto;
    font-size: 31px;
    line-height: 39px;
  }

}