.navigation {
    display: flex;
    flex-direction: row;
    margin: auto 0 auto 45px;
    text-align: center;
  }
  
  .navigation a {
    text-decoration: none;
    color: #FFF;
    margin-right: 16px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }
  
  .header__navigation a:hover {
    font-weight: 500;
  }