.navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 44px;
    margin-right: auto;
  }

  @media (max-width: 768px) {
    .navigation {
      display: none; 
    }
  }
  
  .navigation a {
    text-decoration: none;
    color: #fff;
    margin-right: 16px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }
  
  .navigation a:hover {
    font-weight: 500;
    font-size: 14px;
  }