.search-form {
    width: 89.0625%;
    max-width: 1280px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 70px auto 0 auto;
    border-bottom: 1px solid #424242;
    padding-bottom: 69px;
}

.search-form__input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: #FFF;
    padding-left: 30px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

.search-form__input-area {
    width: 100%;
    height: 72px;
    background-color: #2F2F2F;
    border-radius: 9px;
    border: none;
    display: flex;
    flex-direction: row;
}

.search-form__input-info {
    width: 100%;
    height: 40px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-form__icon {
    width: 22px;
    height: 22px;
    align-self: center;
    margin-left: 25px;
}

.search-form__title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #8B8B8B;
    margin-left: 16px;
    align-self: center;
}

.search-form__button {
    min-width: 58.65px;
    height: 34px;
    padding: 0;
    align-self: center;
    background-color: #4285F4;
    border-radius: 48px;
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFF;
    border: none;
    margin-right: 30px;
}

.search-form__input-group {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-right: 1px solid #424242;
}

.search-form__checkbox-group {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: 29px;
    align-items: center;
    justify-content: center;
}

.search-form__checkbox-text {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    align-self: center;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .search-form {
        width: 92.1875%;
        margin-top: 80px;
        padding-bottom: 109px;
    }

    .search-form__checkbox-text {
        margin-right: 20px;
    }

    .search-form__button {
        margin-right: 20px;
    }

    .search-form__checkbox-group {
        margin-left: 20px;
    }
}

@media (max-width: 710px) {
    .search-form {
        width: 93.75%;
        margin-bottom: 50px;
    }

    .search-form__input-area {
        flex-direction: row;
    }

    .search-form__input-info {
        flex-direction: column;
        height: 72px;
    }

    .search-form__title {
        font-size: 14px;
        line-height: 20px;
    }

    .search-form__icon {
        display: none;
    }

    .search-form__checkbox-group {
        margin: 35px auto 0 auto;
        width: 100%;
        padding-bottom: 45px;
        padding-left: 10px;
    }

    .search-form__checkbox-text {
        font-size: 11px;
        line-height: 18px;
    }

    .search-form__input-group {
        border: none;
        height: 100%;
    }

    .search-form__input {
        height: 72px;
    }
}