.search-form {
    width: 100%;
    max-width: 1280px;
    height: 222px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-form__input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: #FFF;
    padding-left: 30px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    align-self: center;
}

.search-form__input-area {
    width: 89.0625%;
    height: 72px;
    background-color: #2F2F2F;
    border-radius: 9px;
    border: none;
    display: flex;
    flex-direction: row;
}

.search-form__input-info {
    width: 89.0625%;
    height: 72px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.search-form__icon {
    width: 22px;
    height: 22px;
    align-self: center;
    margin-left: 25px;
}

.search-form__title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #8B8B8B;
    margin-left: 16px;
    align-self: center;
}

.search-form__button {
    min-width: 58.65px;
    height: 34px;
    padding: 0;
    margin: 0 0 0 auto;
    align-self: center;
    background-color: #4285F4;
    border-radius: 48px;
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFF;
    border: none;
}

.search-form__line {
    width: 1px;
    height: 40px;
    background-color: #424242;
    margin-left: 30px;
    margin-right: 29px;
    align-self: center;
}

.search-form__text-checkbox {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
    align-self: center;
    margin-right: 30px;
}