.logo {
  width: 38px;
  height: 38px;
  margin: auto 0 auto 0;
}

.header {
  width: 100%;
  max-width: 1280px;
  height: 74px;
  margin: 0;
  background: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__content {
  height: 100%;
  width: 89.0625%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}

.header__background {
  background: #073042;
}

@media (max-width: 768px) {
  .header__content {
    width: 92.1875%;
  }
}