.logo {
 width: 38px;
 height: 38px;
 margin: auto 0 auto 70px;
}

.header {
  width: 100%;
  max-width: 1280px;
  height: 74px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #202020;
  ;
}

.header__background {
  background: #073042;
}
