.filter-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    align-self: center;
    margin-right: 14px;
    height: 20px;
}

.filter-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
}

.filter-checkbox__toggle {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.filter-checkbox__toggle .filter-checkbox__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#343434;
    transition: .4s;
    border-radius: 20px;
}

.filter-checkbox__toggle .filter-checkbox__slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    top: 1px;
    background-color: #A0A0A0;
    border: 1px solid #FFF;
    transition: .4s;
    border-radius: 50%;
}

.filter-checkbox input:checked+ .filter-checkbox__toggle .filter-checkbox__slider:before {
    transform: translateX(16px);
    background-color: #2BE080;
}
