.about-project {
    max-width: 1280px;
    width: 100%;
    min-height: 608px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
}

.about-project__columns {
    max-width: 1140px;
    width: 89.0625%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 70px;
}

.about-project__column {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
}

.about-project__column-title {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
}

.about-project__column-text {
    margin: 26px auto 0 auto;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.about-project__scale {
    max-width: 1140px;
    width: 89.0625%;
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    text-align: center;
    box-sizing: border-box;
}

.about-project__scale-back {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-project__scale-front {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-project__title-back {
    background-color: #3DDC84;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

.about-project__title-front {
    background-color: #303030;
    width: 100%;
    height: 36px;
    color: #FFF;
    flex-grow: 4;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

}

.about-project__label-scale {
    margin-top: 14px;
    color: #8B8B8B;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
}