.register {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
}

.register__form {
    width: 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.register__logo {
    width: 38px;
    height: 38px;
    align-self: flex-start;
}

.register__title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
    margin: 40px auto 16px 0;
}

.register__input-container {
    width: 100%;
    margin-top: 24px;
}

.register__input-label {
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #8B8B8B;
}

.register__error-message {
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #EE3465;
}

.register__input {
    width: 100%;
    height: 27px;
    box-sizing: border-box;
    color: #fff;
    background-color: #202020;
    border: none;
    border-bottom: 1px solid #424242;
    outline: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.register__input:focus {
    border-bottom: 1px solid #4285F4;
}

.register__button {
    width: 100%;
    height: 45px;
    background-color: #4285F4;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF;
    border-radius: 3px;
    border: none;
    margin-top: 152px;
    cursor: pointer;
}

.register__button:hover {
    opacity: 0.8;
}

.register__span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px auto 0 auto;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #8B8B8B;
}

.register__link {
    margin: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #4285F4;
    text-decoration: none;
    cursor: pointer;
}

.register__link:hover {
    opacity: 0.7;
}