.page {
    font-family: 'Inter', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.section__title {
    width: 89.0625%;
    margin: 100px auto 0 auto;
    color: white;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 23px;
}


@media (max-width: 768px) {
    .section__title {
        width: 86.9792%;
        margin-top: 90px;
    }
}

@media (max-width: 710px) {
    .section__title {
        width: 88.75%;
        margin-top: 70px;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }
}