.techs {
    max-height: 625px;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272727;
}

.techs__title {
    margin: 90px auto 0 auto;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #FFF;
    width: 600px;
    height: 58px;
}

.techs__description {
    margin: 26px auto 0 auto;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #FFF;
    width: 460px;
    height: 40px;
}

.techs__list {
    margin: 100px auto 100px auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.techs__list-item {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.04em;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #303030;
    display: flex;
    width: 90px;
    height: 60px;
    border-radius: 10px;
}