.techs {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272727;
}

.techs__title {
    margin: 89px auto 0 auto;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #FFF;
    width: 600px;
    height: 58px;
}

.techs__description {
    margin: 26px auto 0 auto;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #FFF;
    width: 460px;
    height: 40px;
}

.techs__list {
    margin: 99px auto 100px auto;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.techs__list-item {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.04em;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #303030;
    display: flex;
    width: 90px;
    height: 60px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .techs__title {
        margin-top: 80px;
    }

    .techs__description {
        margin-top: 22px;
        font-size: 12px;
        line-height: 18px;
    }

    .techs__list {
        margin-top: 79px;
        margin-bottom: 90px;
        width: 86.9792%;
        padding-left: 15px;
    }

    .techs__list-item {
        width: 84px;
        height: 57px;
        font-size: 12px;
        line-height: 15px;
    }

}

@media (max-width: 710px) {
    .techs {
        background-color: #202020;
    }

    .techs__title {
        margin-top: 60px;
        width: 292px;
        font-size: 30px;
        line-height: 36px;
    }

    .techs__description {
        width: 292px;
        height: 32px;
        margin-top: 24px;
        font-size: 11px;
        line-height: 16px;
        margin-top: 2px;
    }

    .techs__list {
        width: 190px;
        margin-top: 50px;
        margin-bottom: 70px;
    }
}