@import url(../src/vendor/normalize.css);
@import url(../src/fonts/inter.css);
@import url(../src/components/page/page.css);
@import url(../src/components/Header/Header.css);
@import url(../src/components/Promo/Promo.css);
@import url(../src/components/AboutProject/AboutProject.css);
@import url(../src/components/Techs/Techs.css);
@import url(../src/components/AboutMe/AboutMe.css);
@import url(../src/components/Footer/Footer.css);