.about-me {
    background-color: #202020;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-me__columns {
    margin: 66px 0 0 0;
    max-width: 1140px;
    width: 89.0625%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.about-me__photo {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    object-fit: cover;
}

.about-me__text {
    width: 600px;
}

.about-me__title {
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFF;
    margin: 0;
}

.about-me__info {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFF;
    margin: 18px auto 0 0;
}

.about-me__description {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFF;
    margin: 26px auto 99px 0;
}

.about-me__contact {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
    text-decoration: none;
}
