.about-me {
    background-color: #202020;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me__columns {
    margin: 66px 0 0 0;
    max-width: 1140px;
    width: 89.0625%;
    height: 327px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.about-me__photo {
    width: 270px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.about-me__text {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-me__title {
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFF;
    margin: 0;
}

.about-me__info {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFF;
    margin: 18px auto 0 0;
}

.about-me__description {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFF;
    margin: 26px auto 0 0;
}

.about-me__contact {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
    text-decoration: none;
    margin-top: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .about-me__columns {
        width: 88.75%;
        gap: 49px;
    }

    .about-me__photo {
        width: 255px;
        min-height: 307px;
    }

    .about-me__title {
        font-size: 40px;
        line-height: 40px;
    }

    .about-me__info {
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__description {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 710px) {
    .about-me__columns {
        margin-top: 360px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }

    .about-me__text {
        width: 292px;
        margin-top: 40px;
    }

    .about-me__photo {
        width: 292px;
        min-height: 352px;

    }

    .about-me__title {
        font-size: 30px;
        line-height: 36px;
    }

    .about-me__info {
        font-size: 11px;
        line-height: 16px;
        margin-top: 20px;
    }

    .about-me__description {
        font-size: 11px;
        line-height: 16px;
        margin-top: 20px;
    }

    .about-me__contact {
        margin-top: 40px;
    }
}