.not-found-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    justify-content: center;
}

.not-found-page__title {
    font-family: Inter;
    font-size: 140px;
    font-weight: 400;
    line-height: 169px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin: 0;
}

.not-found-page__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin: 5px auto 184px auto;
}

.not-found-page__link {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #4285F4;
}

@media (max-width: 710px) {
    .not-found-page__title {
        font-size: 80px;
        line-height: 97px;
        margin-top: 329px;
    }

    .not-found-page__text {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: auto;
    }

    .not-found-page__link {
        margin-bottom: 30px;
    }
}