.navtab {
  display: flex;
  flex-direction: row;
  margin: auto 0 auto auto;
}

.navtab__register-button {
  text-decoration: none;
  color: #FFF;
  margin-right: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: right;
  align-self: center;
}

.navtab__register-button:hover {
  opacity: 0.7;
}

.navtab__login-button {
  background: #3DDC84;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  align-self: center;
  text-decoration: none;
}

.navtab__login-button:hover {
  opacity: 0.7;
}

@media (max-width: 710px) {
  .navtab__register-button {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    margin-right: 14px;
  }

  .navtab__login-button {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
}